<% if current_language_direction == :ltr%>
	
	<div class="navigationBar" id="navbarContainer" >
		<div class="navItems">
		  <%=render "shared/components/navigation/ltr_logo"%>
		  <%=render "shared/components/navigation/ltr_info"%>
		  <%=render "shared/components/navigation/ltr_call_us"%>
		  <%=render "shared/components/navigation/ltr_user_login" unless params["action"] == "service_provider_onboarding"%>
		</div>
	</div>

<%else%>

	<div class="navigationBar" id="navbarContainer" >
		<div class="navItems"> 
		  <%=render "shared/components/navigation/rtl_user_login" unless params["action"] == "service_provider_onboarding"%>
		  <%=render "shared/components/navigation/rtl_call_us"%>
		  <%=render "shared/components/navigation/rtl_info"%>
		  <%=render "shared/components/navigation/rtl_logo"%>
		</div>
	</div>

<%end%>