

<!-- <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
&#9776;
<span class = "sr-only">Toggle navigation</span>
</button> -->
<% if current_language_direction == :ltr%>
	
	<div class="navigationBar" id="navbarContainer" >
		<div class="navItems">
		  <%=render "shared/components/navigation/ltr_logo"%>
		  <%=render "shared/components/navigation/ltr_info"%>
		  <%=render "shared/components/navigation/ltr_call_us"%>
		  <%=render "shared/components/navigation/ltr_user_login"%>
		</div>
	</div>

<%else%>

	<div class="navigationBar" id="navbarContainer" >
		<div class="navItems"> 
		  <%=render "shared/components/navigation/rtl_user_login"%>
		  <%=render "shared/components/navigation/rtl_call_us"%>
		  <%=render "shared/components/navigation/rtl_info"%>
		  <%=render "shared/components/navigation/rtl_logo"%>
		</div>
	</div>

<%end%>