<%sidebar_class = current_language_direction == :ltr ? "ltrUserSideBar" : "rtlUserSideBar" %>
<div class=<%=sidebar_class%> id="userSideBar" >
  <%if current_user%>
	  <a href="/me" ><%=current_user.name.strip.capitalize%></a>
  	<div class="dropdown-divider"></div>
  <%end%>
  
  <div>
	  <p class="userMenuSection" >Language</p>
	  <i class="fa fa-globe userMenuSection" aria-hidden="true"></i>
	 </div>
  <%supported_locales.each do |k,v|%>
  <a class="dropdown-item" href=<%="/change_locale/#{k}" %>> <%=v%> </a>
  <%end%>
  <div class="dropdown-divider"></div>
  <%if current_user.present?%>
	  <%if current_user.admin?%>
			<div>
			  <p class="userMenuSection" >Admin</p>
			  <i class="fa fa-lock userMenuSection" aria-hidden="true"></i>
			 </div>
				 <a class="dropdown-item" href=<%="/users/consumer" %>> Consumers </a>
				 <%$user_roles["service_provider_types"].each do |k,v|%>
				 		<a class="dropdown-item" href=<%="/users/service_provider?spt=#{k}" %>> <%=k.humanize.pluralize%> </a>
			 	 <%end%>
			 	<div class="dropdown-divider"></div>
		<%end%>	 
	  	<a class="dropdown-item" href="/logout">
	  		<p class="userMenuSection" ><%= I18n.t :logout%></p>
	  		<i class="fa fa-sign-out userMenuSection" aria-hidden="true"></i>
			</a>

	<%else%>

		<a class="dropdown-item" data-toggle="modal" data-target="#signupModal">
			<p class="userMenuSection" ><%= I18n.t :sign_in_button%></p>
			<i class="fa fa-sign-in userMenuSection" aria-hidden="true"></i>
		</a>

	<%end%>

</div>