<%if widget_state(locals) == :owner_before_commit %>

	<div class=<%="#{locals[:elementName]}"%> id=<%=locals[:objectId]%>  >
		<%=render "widgets/ugc/text/#{locals[:widgetName]}/owner_before_commit", locals: locals%>
	</div>

<%elsif widget_state(locals) == :owner_after_commit %>

	<div class=<%="#{locals[:elementName]}"%> id=<%=locals[:objectId]%>  >
		<%=render "widgets/ugc/text/#{locals[:widgetName]}/owner_after_commit", locals: locals%>
	</div>

<%elsif widget_state(locals) == :user_before_commit %>

	<div class=<%="#{locals[:elementName]}"%> id=<%=locals[:objectId]%>  >
		<%=render "widgets/ugc/text/#{locals[:widgetName]}/user_after_commit", locals: locals%>
	</div>

<%elsif widget_state(locals) == :user_after_commit %>

	<div class=<%="#{locals[:elementName]}"%> id=<%=locals[:objectId]%>  >
		<%=render "widgets/ugc/text/#{locals[:widgetName]}/user_after_commit", locals: locals%>
	</div>

<%elsif widget_state(locals) == :edit %>

	<div class=<%="#{locals[:elementName]}"%> id=<%=locals[:objectId]%>  >
		<%=render "widgets/ugc/text/#{locals[:widgetName]}/edit", locals: locals%>
	</div>

<%end%>