<%= render "widgets/ugc/image/image_box/image_tag", locals: locals%>
<%if locals[:editableOverlayText].present?%>

	<%= render 'widgets/ugc/text/widget', 
    		locals: {  
    							widgetName: "text_input_box",
    							elementName: "textInputBox",
    							objectName: "activities", 
    							objectId: locals[:objectId],
    							key: "title",
    							value: locals[:overlayText],
    							state: params[:state],
    							isWidgetOwner: locals[:isWidgetOwner],
    							placeholder: "name_it",
    							textClass: "#{current_direction}imageOverlayText activityTitle",
    							buttonClass: "imageOveralyButton"
    							
    						}
    %>

<%else%>

	<span class="imageOverlayText"%>
	 <%=locals[:overlayText]%>
	</span>
	
<%end%>

<div class="<%="#{current_direction}imageUploadButton"%>" >
	
	<input 
		type="file"
		data-widget-name="<%="#{locals[:widgetName]}"%>"
		data-element-name="<%=locals[:elementName]%>"
		data-object-name="<%=locals[:objectName]%>"
		data-object-id="<%="#{locals[:objectId]}"%>"
		data-key="<%="#{locals[:key]}"%>"
		data-placeholder="<%="#{locals[:placeholder]}"%>"
		data-overlay-text="<%="#{locals[:overlayText]}"%>"
		data-editable-overlay-text="<%="#{locals[:editableOverlayText]}"%>"
		data-image-width="<%="#{locals[:imageWidth]}"%>"
		data-image-height="<%="#{locals[:imageHeight]}"%>"
		data-image-crop="<%="#{locals[:imageCrop]}"%>"
		data-image-gravity="<%="#{locals[:imageGravity]}"%>"
		value="<%="#{locals[:value]}"%>"
		class="imageUploadInput widgetControl"
		id="<%=locals[:objectId]%>"
	/>
	<i class="fa fa-camera" aria-hidden="true"></i>
	<span id="<%="#{locals[:objectId]}updateCoverImageText"%>" ><%=I18n.t :update_image%><span>
</div>

