<%= render "widgets/ugc/image/image_box/image_tag", locals: locals%>
<%if locals[:overlayText][:enabled] == true%>
	<%= render 'widgets/ugc/text/widget', 
    		locals: {  
    							widgetName: "text_input_box",
    							elementName: "textInputBox",
    							objectName: locals[:overlayText][:objectName], 
    							objectId: locals[:overlayText][:objectId],
    							key: locals[:overlayText][:key],
    							value: locals[:overlayText][:value],
    							state: params[:state],
    							isWidgetOwner: locals[:overlayText][:isWidgetOwner],
    							placeholder: locals[:overlayText][:placeholder],
    							textClass: locals[:overlayText][:textClass],
    							buttonClass: locals[:overlayText][:buttonClass]
    							
    						}
    %>
<%else%>
	<%if locals[:overlayTextlinkTo].present?%>
		<a href=<%="#{locals[:overlayTextlinkTo]}"%>>
			<span class="imageOverlayTextWithLink"%><%=locals[:overlayText][:value]%></span>	
		</a>
	<%else%>
		<span class="imageOverlayText"%><%=locals[:overlayText][:value]%></span>	
	<%end%>
<%end%>
<div class="<%="#{current_direction}imageUploadButton"%>" >
	
	<input 
		type="file"
		data-nested-widget-selector-key="<%=build_nested_widget_selector_key( locals[:objectId], "textInputBox","title"  )%>"
		data-widget-name="<%="#{locals[:widgetName]}"%>"
		data-element-name="<%=locals[:elementName]%>"
		data-object-name="<%=locals[:objectName]%>"
		data-object-id="<%="#{locals[:objectId]}"%>"
		data-key="<%="#{locals[:key]}"%>"
		data-placeholder="<%="#{locals[:placeholder]}"%>"
		data-overlay-text="<%="#{locals[:overlayText].to_json}"%>"
		data-editable-overlay-text="<%="#{locals[:overlayText][:editble]}"%>"
		data-image-width="<%="#{locals[:imageWidth]}"%>"
		data-image-height="<%="#{locals[:imageHeight]}"%>"
		data-image-crop="<%="#{locals[:imageCrop]}"%>"
		data-image-gravity="<%="#{locals[:imageGravity]}"%>"
		data-image-tag-class="<%="#{locals[:imageTagClass]}"%>"
		data-image-tag-id="<%="#{locals[:imageTagId]}"%>"
		value="<%="#{locals[:value]}"%>"
		class="imageUploadInput widgetControl"
		id="<%=locals[:objectId]%>"

		
	/>
	<i class="fa fa-camera" aria-hidden="true"></i>
	<span id="<%="#{locals[:objectId]}updateCoverImageText"%>" ><%=I18n.t :update_image%><span>
</div>
