<%klass = locals[:user] && locals[:user].errors[locals[:field_name]] ? "form-group has-danger" : "form-group" %>
<div class=<%=klass%>>
<%value = locals[:user].try(locals[:field_name]) || locals[:value]  %>
<% disallowed_fields = [:phone_verification_code, :password, :password_confirmation] %>
<%if value.present? && !disallowed_fields.include?( locals[:field_name] ) %>
	<input 
		class="form-control-sm ModalInput" 
		type=<%=locals[:input_type]%> 
		name=<%="user[#{locals[:field_name]}]"%> 
		id=<%="user_#{locals[:field_name]}" %> 
		placeholder='<%= I18n.t "#{locals[:field_name]}_input_placeholder" %>'
		value=<%=value%>
		/>
<%else%>
	<input 
		class="form-control-sm ModalInput"
		type=<%=locals[:input_type]%> 
		name=<%="user[#{locals[:field_name]}]"%> 
		id=<%="user_#{locals[:field_name]}" %> 
		placeholder='<%= I18n.t "#{locals[:field_name]}_input_placeholder" %>'
		/>
<%end%>
	<%if locals[:user] && locals[:user].errors[locals[:field_name]]%>
		<%locals[:user].errors[locals[:field_name]].each do |error| %>
			<%= 
			 	render "shared/form_helpers/error_message", 
				locals: {
									field_name: locals[:field_name].to_s.split("_").join(" "), 
									error: "error_messages.#{locals[:field_name]}.#{error.to_s}" } 
			%>
		<%end%>
	<%end%>
</div>