<%klass = locals[:user] && locals[:user].errors[locals[:field_name]] ? "form-group has-danger" : "form-group" %>
<div class=<%="#{klass}"%>>
	
	
	<input 
		class="form-control-sm ModalInput" 
		type="tel" 
		name=<%="user[#{locals[:field_name]}]"%> id=<%="user_#{locals[:field_name]}"%> 
		placeholder=<%=locals[:field_name]%>
		/>

	<%if locals[:user] && locals[:user].errors[locals[:field_name]]%>
		</br>
		<%= 
		 	render "shared/form_helpers/error_message", 
			locals: {field_name: locals[:field_name].to_s.split("_").join(" "), error: locals[:user].errors[locals[:field_name]][0] } 
		%>
	<%end%>
</div>