<p class="<%="#{locals[:placeholderClass]}"%>" id=<%=widget_id(locals)%> ><%=locals[:placeholder].capitalize%></p>
<select multiple class="select2" id="<%="#{input_id(locals)}"%>" data-placeholder="<%="#{locals[:placeholder].capitalize}"%>">

	<%locals[:selectOptions].each do |option| %>
		<%if locals[:value] && locals[:value].include?( option )%>
		  <option selected=true value="<%=option%>"><%=option%></option>
  	<%else%>
	  	<option value="<%=option%>"><%=option%></option>
  	<%end%>
  <%end%>

</select>

<%=render "widgets/ugc/text/button", 
						locals: locals.merge( 
																	class: "btn btn-success smallBtn", 
																	state: "save", 
																	button_text: "save" )
	%>

<%=render "widgets/ugc/text/button", 
						locals: locals.merge( 
																	class: "btn btn-danger smallBtn", 
																	state: "cancel", 
																	button_text: "cancel" )
	%>