<% state = widget_state(locals) %>
<%path = "widgets/multiple_state/#{locals[:widgetName]}" %>

<%if state == :owner_before_commit %>
	<div class=<%="#{locals[:elementName]}"%> id=<%=widget_id(locals)%>  >
		<%=render "#{path}/owner_before_commit", locals: locals%>
	</div>

<%elsif state == :owner_after_commit %>
	<div class=<%="#{locals[:elementName]}"%> id=<%=widget_id(locals)%>  >
		<%=render "#{path}/owner_after_commit", locals: locals%>
	</div>
<%elsif state == :user_before_commit %>
	<div class=<%="#{locals[:elementName]}"%> id=<%=widget_id(locals)%>  >
		<%=render "#{path}/user_after_commit", locals: locals%>
	</div>
<%elsif state == :user_after_commit %>
	<div class=<%="#{locals[:elementName]}"%> id=<%=widget_id(locals)%>  >
		<%=render "#{path}/user_after_commit", locals: locals%>
	</div>
<%elsif state == :edit %>
	<div class=<%="#{locals[:elementName]}"%> id=<%=widget_id(locals)%>  >
		<%=render "#{path}/edit", locals: locals%>
	</div>

<%end%>