<div class="<%="#{locals[:elementName]}"%>" id=<%=widget_id(locals)%>  >
	<div class="textShadowContainer ">
		<div class="col-lg-12 wizardHeader" >
			<%= render "widgets/wizard/wizard_header", locals: locals%>	
		</div>
		</br>
		<div class="col-lg-12 wizardBody" >
			<%= render "widgets/wizard/#{locals[:widgetName]}/node_#{locals[:nodeNumber]}", locals: locals %>
		</div>
		<%unless locals[:renderWizardButton] == false%>
			<%= render "widgets/wizard/wizard_button_set", locals: locals 	%>
		<%end%>
		</br>
	</div>
</div>
