<div class="container" id="meSectionContainer">
	<%if locals[:user].activities.present? %>
		
		<div class="container">
			
			<a class="btnBrand1" href="<%="/new_activity/#{current_user.id}"%>"%>
			<i class="fa fa-plus-square-o" aria-hidden="true"></i>
				<%=I18n.t :create_new_activity %>
			</a>
			</br></br>

			<% locals[:user].activities.in_groups_of(2,false) do |activity_group|%>		
			  <div class="row">
		  		<%activity_group.each do |activity|%>
				    <div class="col-md-6 gridItem">
			        <h4 class="centeredText"><a href="<%="/activities/#{activity.id}"%>"><%=activity.title %></a></h4>
			        <a href="#">
			        	<%=cl_image_tag(activity.cover_image, width: 500, height: 285, crop: :thumb, gravity: :face, class: "img-fluid", id: "coverImage", secure: true )%>
			        </a>
			        	<%if activity.about_text.present?%>
				        	<div class=smallText><%=activity.about_text[0..200].html_safe + "..." %></div>
								<%end%>
			    	</div>
		  		<%end%>
			  </div>
			<%end%>
		</div>
	
	<%else%>
		<p ><%= I18n.t :didnt_create_activities%></p>
		<a href="<%="/new_activity/#{current_user.id}"%>" ><%= I18n.t :create_your_first_activity %></a>
	<%end%>
</div>