<%=render 'shared/components/page_cover_image', locals: { 
																													bottomCenterButtonId: "requestTripPlan",
																													imgId: "volkswagen-569315_l7hqur.jpg", 
																													overlayText: "text:raleway_40_bold:Find%20an%20expert%20to%20plan%20your%20next%20trip",
																													width: 1500,
																													height: 650,
																													quality: "auto:good",
																													crop: "thumb",
																													gravity: "center",
																													y: -100,
																													color: "#000",
																													bottomCenterButtonText: "get_started",
																													topButtonText: "join_as_expert",
																													jsEvent: "RequestCreateTrip"
																													

																												}
%>
<div class="howItWorks">
	<div class="col-sm-4 step">
		<span><%=cl_image_tag("Form-50_yqkxao.png")%></span>
		<span>Step 1</span>
		<p>Fill in your trip details</p>
	</div>
	<div class="col-sm-4 step">
		<span><%=cl_image_tag("Trekking-50_bf4xhj.png")%></span>
		<span>Step 2</span>
		<p>Choose one of our experts</p>
	</div>
	<div class="col-sm-4 step">
		<span><%=cl_image_tag("Collaboration-50_q6xfif.png")%></span>
		<span>Step 3</span>
		<p>Plan the trip</p>
	</div>
</div>

<%=render "shared/scripts/add_this_share_widget" %>