<h4 class="activitySubtitle">
	<i class="fa fa-star" aria-hidden="true"></i>
	<%=I18n.t :community_highlights%>
	<i class="fa fa-star" aria-hidden="true"></i>
</h4>

</br>
<% @activities.in_groups_of(2,false) do |activity_group|%>		
	<div class="row">
		<%activity_group.each do |activity|%>
			<div class="col-md-6 gridItem">
				<a href="<%="/activities/#{activity.id}"%>">
					<h4 class="centeredText"><%=activity.title %></h4>
						<%=cl_image_tag(activity.cover_image, width: 500, height: 285, crop: :thumb, gravity: :face, class: "img-fluid", id: "coverImage", secure: true )%>
				</a>
				<%if activity.about_text.present?%>
					<div class=mediumText><%=activity.about_text[0..200].html_safe %></div>
				<%end%>
			</div>
		<%end%>
	</div>
<%end%>
