<form action=<%="/account_user/new"%> class="addAccountUser" id="addAccountUser" method="post" enctype="multipart/form-data">
	<%= render "shared/form_helpers/flash_messages" %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= label_tag :name %>
	<%= render "shared/form_helpers/input_field", locals: {input_type: "text", field_name: :name, user: @user } %>
	<%= label_tag :email %>
	<%= render "shared/form_helpers/input_field", locals: {input_type: "email", field_name: :email, user: @user } %>
	<%= label_tag :phone %>
	<%= render "shared/form_helpers/input_field", locals: {input_type: "phone", field_name: :phone, user: @user } 
	%>
	<%= label_tag :role %>
	</br>
	<%= select_tag "user[role]", options_for_select(User.seller_role_short_names.map{ |k,v| [v, k] })%>
	<div class="dropdown-divider"></div>
  <button type="submit" class="btn btnBrand1 btnFull">Send Invitation</button>

</form>