<h1>Sign Up</h1>
 
<%= form_for @user, :html => {:class => 'form-inline'} do |f| %>

	<%= render "shared/form_helpers/text_field", locals: {field_name: :name, form_object: f, user: @user } %>
	</br>
	<%= render "shared/form_helpers/phone_field", locals: {field_name: :phone, form_object: f, user: @user } %>
	<%= render "shared/form_helpers/text_field", locals: {field_name: :email, form_object: f, user: @user } %>
	</br>
	<%= render "shared/form_helpers/password_field", locals: {field_name: :password, form_object: f, user: @user } %>
	</br>
	</br>
	<button type="submit" class="btn btn-primary">Submit</button>

<% end %>