<div class="row pull-left">
  <h5 ><%=users_admin_page_title(params[:spt], params[:role])%></h5>
  
  <span class="lead" ><%="Total: #{@users.size}"%></span>
  <span class="lead">| New - </span>
  <span><%="Today: #{@today}"%></span>
  <span>,</span>
  <span><%="Yesterday: #{@yesterday}"%></span>
  <%if params[:spt].present?%>
    <a href=<%="/service_provider/#{params[:spt]}/new"%>> | Add</a>
  <%end%>
</div>
</br>
</br>



</br></br>
<table class="table table-hover pull-left">
  <tr>
    <th>Name</th>
    <th>Joined at</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.created_at.strftime("%B %d, %Y") %></td>
    </tr>
  <% end %>
</table>
