<%id = generate_button_id %>
<%if locals[:wizardMode].present? %>
	<%locals[:class] = "#{locals[:class]} hidden " %>
	<%if locals[:state] == "save"%>
		<script>
			 document.publishEvent('bindToWizardButton', { 'widgetData': <%=raw(locals.merge(id: id).to_json)%> } );
		</script>	
	<%end%>
<%end%>
<a 
	href="javascript:void(0)"
	onclick='return false;'
	class="widgetControl <%= locals[:class] %>"
	id="<%=id%>"
	aria-hidden="true"
>
<span class="buttonText" style="font-family:'Raleway', sans-serif">
	<%=I18n.t locals[:button_text]%>	
</span>
</a>

<script> 
		document.publishEvent('activateButton', { 'widgetData': <%=raw(locals.merge(id: id).to_json)%> } );
</script>