
<%if locals[:state] != "edit" && not( locals[:value].present? ) && locals[:isWidgetOwner] %>
	<div class="textAreaBox thinBorder">
		<a 
			class="<%= "textBoxTextBeforeEdit #{current_direction} textAreaBoxControl" %>"
			aria-hidden="true"
			data-object-name="<%=locals[:objectName]%>"
			data-object-id="<%="#{locals[:objectId]}"%>"
			data-key="<%="#{locals[:key]}"%>"
			data-placeholder="<%="#{locals[:placeholder]}"%>"
			data-state="edit"
		>
			<%=I18n.t locals[:placeholder]%>
		</a>
	</div>

<%elsif locals[:state] != "edit" && locals[:value].present? %>
	
	<div class="textAreaBox">
		<div class="textAreaBoxTextLocation"><%= locals[:value].html_safe %>
		<%if locals[:isWidgetOwner] %>
				<a 
					class="<%="textAreaBoxControl btnBrand1 #{current_direction.to_s}TextAreaBoxEditButton fa fa-pencil"%>"
					aria-hidden="true"
					data-object-name="<%=locals[:objectName]%>"
					data-object-id="<%="#{locals[:objectId]}"%>"
					data-key="<%="#{locals[:key]}"%>"
					data-placeholder="<%="#{locals[:placeholder]}"%>"
					data-state="edit"
				>
					<%=I18n.t :edit %>
				</a>
			<%end%>
		</div>
	</div>
<%end%>

<%if locals[:state] == 'edit' && locals[:isWidgetOwner] %>
	<div class="textAreaBox">
		<%=I18n.t locals[:placeholder]%>
		<%=render 'shared/components/text_area', locals: locals%>
	</div>
<%end%>