<input 
class="<%=" widgetTextInput form-control-sm widgetTextInput centeredText #{locals[:textClass]}"%>"
id="<%=locals[:id]%>"
name="<%="#{locals[:widgetName]}"%>"
value="<%="#{locals[:value]}"%>"
type="text"
placeholder="<%=I18n.t locals[:placeholder]%>"

/>

<div class="<%="#{current_direction.to_s}"%>" >
	<%= render 'widgets/multiple_state/save_cancel_buttons' ,locals: locals %>
</div>