<div class="activityContainer">
	
	<%if current_user && ( current_user.admin? || current_user.id == @activity.user_id ) %>
		<div class="previewPublish gridItem">
				<div class="previewPublishBtnGroup">
					<a class="btnBrand1Inverse largeBtn previewPublishBtn" href="#">Preview</a>
					<a class="btnBrand1 largeBtn previewPublishBtn" href="#">Publish</a>
				</div>
				
		</div>

	<%end%>
	
	<div class="col-lg-12 gridItem activityHeader">
		<div class="col-lg-8 gridItem">
			<%= render 'cover_image', locals: { imageTagClass: "coverImage img-fluid" } %>
		</div>
		<div class="col-lg-4 gridItem">
			<%=render 'categories_tags_and_levels'%>
		</div>
	</div>

	<div class="col-lg-12 gridItem">
		<div class="dropdown-divider"></div>
		<%= render 'description'%>
	</div>

	<div class="col-lg-12 gridItem">
			<div class="dropdown-divider"></div>
			<p class=activitySubtitle >Location</p>
			<%= render 'widgets/ugc/location/widget', 
				  locals: {  
				            widgetName: "location",
				            elementName: "location",
				            objectName: "activities", 
				            objectId: @activity.id,
				            key: "place_id",
				            value: @activity.place_id,
				            state: params[:state],
				            isWidgetOwner: @is_widget_owner,
				            placeholder: "enter_location"            
				          }
						%>
	
	</div>
	
	<div class="col-lg-12 gridItem schedulingAndBooking">
		<div class="dropdown-divider"></div>
		<p class=activitySubtitle >Schedule</p>
		<div class='input-group date' id='datePicker'>
			<input type='text' class="form-control" />
			<span class="input-group-addon">
				<i class="fa fa-calendar" aria-hidden="true"></i>
			</span>
		</div>
	</div>

	<div class="col-lg-12 gridItem pricing">
			<div class="dropdown-divider"></div>	
			<%=cl_image_tag("Price_Tag-30_b3gkga.png", :width=>20, :crop=>"scale", secure: true)%>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		</div>
		
		<div class="col-lg-12">
			<div class="dropdown-divider"></div>
			<div class="aboutOrganizer">
				<%= render "users/#{current_direction.to_s}_about_me", locals: { user: @activity.user, isWidgetOwner: false } %>
				<a class="btnBrandCancel fa fa-trash-o" href="#">delete</a>
			</div>
		</div>

	</div>

	

</div>
<%= render 'meta_tags' if @activity.state == "published"%>