<div class="container activityContainer">
	<%= render 'activity_preview_and_publish'%>

	<div class="gridItem activityHeader">
		<div class="col-lg-8 col-sm-12 gridItem">
			<%= render 'activity_cover_image', locals: { imageTagClass: "coverImage img-fluid" } %>
		</div>
		<div class="col-lg-4 gridItem"><%=render 'categories_tags_and_levels'%></div>
	</div>

	<div class="col-lg-12 gridItem aboutOrganizer">
		<%=render "activity_organizer", locals: @activity%>
	</div>

	<div class="col-lg-12 gridItem">
		<%= render 'activity_description'%>
	</div>

	<div class="col-lg-12 gridItem activityLocation">
		<%= render 'activity_location'%>
	</div>

	<div class="dropdown-divider"></div>
	</br>
	<div class="col-lg-12 gridItem scheduling">
		<%=render 'activity_scheduling'%>
	</div>
	</br>
	<div class="dropdown-divider"></div>
	</br>
	<div class="col-lg-12 gridItem pricingAndBooking">
		<%=render 'activity_pricing_and_booking'%>
	</div>
	<%=render 'activity_delete'%>
</div>
<%if @activity.state == "published"%>
	<%= render 'meta_tags'%>
	<%=render "shared/scripts/add_this_share_widget" %>
<%end%>