<div class="activityContainer">
	
	<div class="col-lg-12 gridItem">
		<div class="col-lg-8 gridItem">
			<%= render 'cover_image'%>
		</div>
		<div class="col-lg-4 gridItem">
			<%=cl_image_tag("Settings-30_m8vu9e.png", :width=>20, :crop=>"scale", secure: true)%>
			</br></br>
			<%=render 'categories_tags_and_levels'%>
		</div>
	</div>

	<div class="col-lg-12 gridItem">
		<div class="dropdown-divider"></div>
		</br>
		<div class="col-lg-6 scheduling">
			<%=cl_image_tag("Calendar-30_mkoubs.png", :width=>20, :crop=>"scale", secure: true)%>
			<%=cl_image_tag("Clock-30_jppzvm.png", :width=>20, :crop=>"scale", secure: true)%>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		</div>
		<div class="col-lg-6 pricing">
			<%=cl_image_tag("Price_Tag-30_b3gkga.png", :width=>20, :crop=>"scale", secure: true)%>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		</div>
	</div>

	<div class="col-lg-12 gridItem">
		<%= render 'description'%>
	</div>
			

	<div class="col-lg-12 gridItem">

			<%= render 'widgets/ugc/location/widget', 
				  locals: {  
				            widgetName: "location",
				            elementName: "location",
				            objectName: "activities", 
				            objectId: @activity.id,
				            key: "place_id",
				            value: @activity.place_id,
				            state: params[:state],
				            isWidgetOwner: @is_widget_owner,
				            placeholder: "enter_location"            
				          }
						%>
	</div>

	<div class="col-lg-12">
		<div class="dropdown-divider"></div>
		<div class="aboutOrganizer">
			<%= render "users/#{current_direction.to_s}_about_me", locals: { user: @activity.user, isWidgetOwner: false } %>
		</div>
	</div>
</div>