<div class="coverImage">
	<%=cl_image_tag(locals[:src], width: 700, height: 400, crop: :thumb, gravity: :face, class: "img-fluid", id: "coverImage"  )%>
	
	<span class="<%="#{current_direction}imageOverlayText"%>">
		<%=locals[:overlay_text]%>
	</span>
	
	<div class="<%="#{current_direction}imageUploadButton"%>" >
		<%= file_field_tag 'user[cover_image]', class: "imageUploadInput"%>
		<i class="fa fa-camera" aria-hidden="true"><%=I18n.t :update_image%></i>
	</div>
	
</div>