<div id="enterPhoneTemplate" class="modal-content">
  <%locals ||= {} %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <h4 class='formModalTitle centeredText'><%=I18n.t :enter_phone_title%></h4>
      <p class="centeredText">
       <%=I18n.t :enter_phone_subtitle%>
       </br>
       <%=image_tag("loader.gif", class: "signinLoader")%>
      </p>
  </div>  
    <div class="modal-body">
    	<form id="phoneForm" data-remote="true"  action="/authenticate_phone" accept-charset="UTF-8" method="post">	
				<input name="utf8" type="hidden" value="&#x2713;" />
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= render "shared/form_helpers/input_field", locals: {input_type: "phone", field_name: :phone, user: locals[:user] } %>
				<button type="submit" class="btn btnBrand1 bthModalForm"><%= I18n.t :submit %></button>
         <%= render "shared/form_helpers/flash_messages" %>
			</form>
  	</div>
</div>