 <div class=googleMapContainer>
  <%if locals[:renderSearchBox] == true %>
  	<% mapInputId = generate_button_id%>
		<%=render "widgets/core_inputs/location_search_box", locals: locals.merge(mapInputId: mapInputId )%>
  <%end%>
  <%if locals[:hideMap] ==true %>
    <div id="map" class="hiddenMap" ></div>
  <%elsif locals[:loadSearchBoxOnly] == "true"%>
  <%else%>
  	<div id="map" class="map"></div>
  <%end%>
</div>

<script>
 document.publishEvent('initMap', { 'placeId': "<%=locals[:value]%>", 'mapInputId': "<%=mapInputId%>", hideMap:  "<%=locals[:hideMap]%>", 'loadSearchBoxOnly': "<%=locals[:loadSearchBoxOnly]%>" } );                                                   
</script>