 <div id="imageBackground">
      <%=cl_image_tag(locals[:imgId], class:"img-fluid pageCover",
                      transformation: [
                                        { height: locals[:height], 
                                        	width: locals[:width], 
                                        	crop: locals[:crop], 
                                        	quality: locals[:quality]},
                                        { overlay: locals[:overlayText] , gravity: locals[:gravity], y: locals[:y], color: locals[:color] }
                                      ])
    %>

    <%topButtonClass = current_direction == :ltr ? "imageOverlaytopLeftButton" : "imageOverlaytopRightButton" %>
     <a class="<%="#{topButtonClass} imageOverlayTopButton" %>" href="/join_as_expert">
     		<%=I18n.t locals[:topButtonText]%>
     </a>
     <%bottomCenterButtonClass = current_direction == :ltr ? "ltrImageOverlayBottomCenter" : "rtlImageOverlayBottomCenter" %>
      <a id="<%=locals[:bottomCenterButtonId]%>" class="<%="#{bottomCenterButtonClass} imageOverlaybottomCenter"%>" href="javascript:void(0)">
	     	<%= I18n.t locals[:bottomCenterButtonText] %>
     </a>
</div>
<%if locals[:jsEvent].present?  %>
	<script> document.publishEvent("<%=locals[:jsEvent]%>"); </script>
<%end%>