<div id="selectNewPasswordTemplate" class="modal-content">
  <%locals ||= {} %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <h4 class='formModalTitle centeredText'><%=I18n.t :select_new_password_recovery_title%></h4>
      <p class="centeredText">
       <%=I18n.t :select_new_password_recovery_subtitle%>
       </br>
       <%=image_tag("loader.gif", class: "signinLoader")%>
      </p>
  </div>  
    <div class="modal-body">
    	<form id="selectNewPasswordForm" data-remote="true" accept-charset="UTF-8" method="post">	
				<input name="utf8" type="hidden" value="&#x2713;" />
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%if @user%>
          <%= hidden_field_tag "user[email]", @user.email %>
        <%end%>
        <%= render "shared/form_helpers/input_field", 
        locals: { 
                  input_type: "text", 
                  field_name: :authentication_code, user: locals[:user]
                } 
        %>

        <%= render "shared/form_helpers/input_field", 
        locals: { 
                  input_type: "password", 
                  field_name: :new_password, user: locals[:user]
                } 
        %>
				<button type="submit" class="btn btnBrand1 bthModalForm"><%= I18n.t :submit %></button>
        <%= render "shared/form_helpers/flash_messages" %>
			</form>
  	</div>
</div>