<div id="signUpTemplate">
	<form id="signUpForm" data-remote="true" action="/signup" accept-charset="UTF-8" method="post">
		
		<input name="utf8" type="hidden" value="&#x2713;" />
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= hidden_field_tag :auth_provider, "play" %>
		<%= render "shared/form_helpers/text_field", locals: {field_name: :name, user: @user } %>
		<%= render "shared/form_helpers/phone_field", locals: {field_name: :phone, user: @user } %>
		<%= render "shared/form_helpers/text_field", locals: {field_name: :email, user: @user } %>
		<%= render "shared/form_helpers/password_field", locals: {field_name: :password, user: @user } %>
		<a id="haveAccount">I already have an account</a>
		</br>
		</br>
		<button type="submit" class="btn btnBrand1 bthSignUpForm">Sign me up</button>

	</form>
</div>