<textarea name="editor1">
	<%=locals[:value] %>
</textarea>
</br>
<div class="<%="#{current_direction.to_s}"%>" >
	<a
		class="<%="btnBrand1 textAreaBoxControl"%>"  
		aria-hidden="true"
		data-object-name="<%=locals[:objectName]%>"
		data-object-id="<%="#{locals[:objectId]}"%>"
		data-key="<%="#{locals[:key]}"%>"
		data-placeholder="<%="#{locals[:placeholder]}"%>"
		data-state="save"
	>
		<%=I18n.t :save %>
	</a>

	<a 
		class="<%="btnBrandCancel textAreaBoxControl"%>"
		aria-hidden="true"
		data-object-name="<%=locals[:objectName]%>"
		data-object-id="<%="#{locals[:objectId]}"%>"
		data-key="<%="#{locals[:key]}"%>"
		data-placeholder="<%="#{locals[:placeholder]}"%>"
		data-state="cancel"
	>
		<%=I18n.t :cancel %>
	</a>
</div>

<script>
	CKEDITOR.replace( 'editor1',{ language: "<%=I18n.locale.to_s%>"} );
</script>