<!DOCTYPE html>
<html>
  
  <head>
    <title>Play</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  

    <%= stylesheet_link_tag 'application', media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  
  <body>
     
    <%=render "shared/components/modals/login_modal"%>
    <%=render "shared/components/modals/signup_modal"%>
    <%=render "shared/components/navigation/navigation_bar"%>
    </br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <%= yield %>
      </div>
      <div class="col-md-2  pull-xs-right">
         <%= render "shared/form_helpers/flash_messages" %>
      </div>
    </div>
      
  </body>
  <footer>
  </footer>
  <!--   <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
      <a class="navbar-brand" href="#">Play</a>
    </nav> -->
  </footer>
</html>
