<!DOCTYPE html>
<html>
  
  <head>
    <title>Activity.Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <%unless I18n.locale == :he %>
      <%= stylesheet_link_tag 'application', media: "all" %>
    <%else%>
      <%= stylesheet_link_tag 'application_rtl', media: "all" %>
    <%end%>
     <%=render "shared/scripts/browser_type"%>
     <%=render "shared/scripts/polyfills/publish_event"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//cdn.ckeditor.com/4.5.9/basic/ckeditor.js"></script>
  </head>

  <body>
    <%if !current_user%>
      <%=render "shared/components/modals/signin_modal"%>
    <%end%>
      <%=render "shared/scripts/fb_sdk"%>
      <%=render "shared/components/navigation/navigation_bar"%>
      <%=render "shared/components/navigation/user_menu"%>
      <%=render "shared/data/current_user"%>
      </br>
    <div class="container mainContainer">
      <%= yield %>
    </div>
    
  </body>
  <footer>
  </footer>
</html>
